[submodule "corpus/ara-paperbench"]
	path = corpus/ara-paperbench
	url = https://github.com/ARA-Labs/ara-paperbench
[submodule "lara-paper"]
	path = lara-paper
	url = https://github.com/EYH0602/lara-paper
	branch = main
